body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.main{
    background-image: url(../images/bg-desktop.svg);
    background-color:hsl(257, 40%, 49%) ;
    background-repeat: no-repeat;
    background-position: center;
    width: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center; 
    align-items: center;

}

.logo{
    margin-top: 2rem;
    width: 17rem;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.showoff{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-area: 1/ 1;
    width: 70%; 
    height: 70vh;
    margin-right: 2rem; 
    margin-left: 2rem;
    
}

.page img{
    width: 36rem;
    height: 48vh;
} 

.text-box{
    grid-area: 1 / 2 / 1 / 2;
    display: grid; 
    grid-template-rows: repeat(8, auto);
    width: 50%; 
    height: 70vh;  
    margin-right:2rem ;
    

} 

.title{
    display: flex;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    grid-area: 3 / 1 / 3/ 1; 
    font-size: 2em;
    color: #ffffff;
} 

.description{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    grid-area: 4 / 1 / 4 / 1;
    color: #ffffff; 
    font-size: 1em;
} 


.btn-register {
    text-decoration: none;
    grid-area: 5 / 1 / 5 / 1; 
    background-color: #ffffff;
    width: 10rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 1s ;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;

}

.btn-register a {
    text-decoration: none; 
}

.btn-register:hover{
    transform: scale(1.10);
    transition: 0.7s ease;
    background-color:hsl(300, 69%, 71%); 
    box-shadow: 0px 0px 15px -5px #000000;
    cursor: pointer;

} 

.media {
    grid-area: 8 / 1 / 8 / 1 ;
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end; 
    margin-bottom: 4rem;
    margin-right: 2rem;
    gap: 1.8rem;

}

.media i{
    color: #ffffff;
    background-color: transparent;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    height: 4vh;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid #ffffff;
    transition: 0.5s;
} 

i:hover{
    border: 1.5px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    transform: scale(1.05);

}
